*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Arial;
}

body{
  background:#0f172a;
  color:white;
}

.navbar{
  display:flex;
  justify-content:space-between;
  padding:20px 50px;
  background:#020617;
}

.navbar nav a{
  margin:0 10px;
  text-decoration:none;
  color:white;
}

.hero{
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:80px;
  background:linear-gradient(135deg,#111,#1e293b);
}

.hero-left h1{
  font-size:40px;
}

.hero-left span{
  color:#38bdf8;
}

.hero-left h2{
  margin:10px 0;
  color:#94a3b8;
}

.buttons{
  margin-top:20px;
}

.btn{
  padding:10px 20px;
  margin-right:10px;
  border:1px solid white;
  text-decoration:none;
  color:white;
}

.primary{
  background:#38bdf8;
  color:black;
}

.hero-right img{
  width:300px;
  border-radius:10px;
}

.section{
  padding:60px;
}

.dark{
  background:#1e293b;
}

.skills{
  display:flex;
  gap:15px;
  margin-top:20px;
}

.skills div{
  background:#334155;
  padding:10px 20px;
  border-radius:5px;
}
